<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>강의보기 페이지</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/course.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css}" />
    <style>
        .video-thumbnail {
            width: 70px;
            height: 39px;
        }
    </style>
</head>
<body>
<a th:href="@{Member_logout}">로그아웃</a>
<div class="container" style="margin-top: 40px;">
    <h3 style="margin-left: 30px;">강의목록</h3>
    <div style="padding: 20px; border: 1px solid lightgray; border-radius: 10px; margin: 25px 10px;">
        <span class="allProgress" style="display: inline-block; margin-bottom: 20px;">전체 진도율</span>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>
    </div>
    <div class="accordion" id="course-accordion">
        <div class="accordion-item" th:each="course, courseStat : ${courses}">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${course.courseSeq}" th:aria-expanded="false" th:aria-controls="'collapse' + ${course.courseSeq}">
                    <strong th:text="${course.courseName}"></strong>
                </button>
            </h2>
            <div th:id="'collapse' + ${course.courseSeq}" class="accordion-collapse collapse" data-bs-parent="#course-accordion">
                <div class="accordion-body">
                    <div class="card mb-2">
                        <div class="card-body" th:text="${course.courseBrief}"></div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">차시</th>
                            <th scope="col" class="text-center">썸네일</th>
                            <th scope="col" class="text-center">제목</th>
                            <th scope="col" class="text-center">설명</th>
                            <th scope="col" class="text-center">학습시간</th>
                            <th scope="col" class="text-center">시청</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="courseChapter : ${courseChapters[courseStat.index]}">
                            <th scope="row" class="text-center" th:text="${courseChapter.chapterOrder}"></th>
                            <td class="text-center">
                                <th:block th:if="${courseChapter.supplementaryFileDTO == null}">
                                    <img class="rounded video-thumbnail" th:src="@{/img/student.jpg}" alt="">
                                </th:block>
                                <th:block th:unless="${courseChapter.supplementaryFileDTO == null}">
                                    <img class="rounded video-thumbnail" th:src="@{/img/thumbnail/{fileName}.jpg(seq=${courseChapter.supplementaryFileDTO.fileName})}" alt="">
                                </th:block>
                            </td>
                            <td th:text="${courseChapter.chapterBrief}"></td>
                            <td th:text="${courseChapter.chapterName}"></td>
                            <td class="text-center" th:text="${courseChapter.contentDTO.runningTime}"></td>
                            <td class="text-center">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal"
                                        th:data-bs-course-id="${course.courseSeq}"
                                        th:data-bs-chapter-id="${courseChapter.chapterSeq}"
                                        th:data-bs-video-id="${courseChapter.contentDTO.videoId}">
                                    시청
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 모달 -->
<div class="modal fade" id="videoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-lg-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="videoModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div id="youtubePlayer"></div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const username = /*[[${#authentication.name}]]*/ 'default-username';
    // const csrfToken = /*[[${_csrf?.token}]]*/ 'default-token-value';
    // const csrfHeader = /*[[${_csrf?.headerName}]]*/ 'default-header-name';
    const urlVideoStartTime = /*[[@{/async/video_start_time}]]*/ 'default-url';
    const urlVideoTimeCheck = /*[[@{/async/video_time_check}]]*/ 'default-url';
    /*]]>*/

    const tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    const firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    let player;
    let courseId;
    let chapterId;
    let completed = false;
    let interval;
    let maxTime = 0;

    // 1. YouTube API가 로드되면 실행할 함수
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('youtubePlayer', {
            height: '360',
            width: '640',
            videoId: '', // 초기 영상 ID (빈 문자열이면 영상이 로드되지 않음)
            events: {
                'onStateChange': onPlayerStateChange // 플레이어 상태가 변경될 때마다 실행할 함수 지정
            }
        });
    }

    // 3. 플레이어 상태가 변경될 때마다 실행할 함수
    function onPlayerStateChange(event) {
        // 반복 실행을 종료
        if (interval) {
            clearInterval(interval);
        }

        if (event.data === YT.PlayerState.PLAYING) {
            if (!completed) {
                // 1초마다 videoTimeCheck 함수를 실행
                interval = setInterval(() => {
                    videoTimeCheck();
                }, 1000); // 1000ms = 1s
            }
        }

        // 비디오가 일시정지되거나 종료되면
        // else if (event.data === YT.PlayerState.PAUSED || event.data === YT.PlayerState.ENDED) {
        //     // 반복 실행을 종료
        //     if (interval) {
        //         clearInterval(interval);
        //     }
        // }
    }

    function videoStart(event) {
        const button = event.relatedTarget; // 시청 버튼을 클릭하여 모달을 열게 한 요소
        const videoId = button.getAttribute('data-bs-video-id'); // YouTube 영상 ID를 가져옴

        courseId = button.getAttribute('data-bs-course-id'); // 강의 ID를 가져옴
        chapterId = button.getAttribute('data-bs-chapter-id'); // 차시 ID를 가져옴

        $.ajax({
            type: 'POST',
            url: urlVideoStartTime,
            // headers: {
            //     [csrfHeader]: csrfToken,
            // },
            data: JSON.stringify({
                courseId: courseId,
                chapterId: chapterId,
                username: username
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                player.loadVideoById({
                    videoId: videoId,
                    startSeconds: Number(response.videoStartTime)
                }); // 가져온 ID로 YouTube 플레이어의 영상을 변경
                completed = response.completed === "true";
                maxTime = Number(response.videoMaxTime);
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }

    function videoTimeCheck() {
        $.ajax({
            type: 'POST',
            url: urlVideoTimeCheck,
            // headers: {
            //     [csrfHeader]: csrfToken,
            // },
            data: JSON.stringify({
                courseId: courseId,
                chapterId: chapterId,
                username: username,
                videoCurrentTime: player.getCurrentTime()
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response.result === "false") {
                    player.seekTo(response.videoMaxTime);
                }
                else {
                    maxTime = Number(response.videoMaxTime);
                }
            },
            error: function (request, status, error) {
                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        // 2. Bootstrap 모달 이벤트
        const videoModal = document.getElementById('videoModal');
        videoModal.addEventListener('show.bs.modal', videoStart);
        videoModal.addEventListener('hide.bs.modal', function (event) {
            player.stopVideo(); // 모달이 닫힐 때 영상을 정지
            if (interval) {
                clearInterval(interval); // 모달이 닫힐 때 반복 실행을 종료
            }
        });
    });
</script>
</body>
</html>