<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1cfe6d92db.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/membermain.css"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="padding: 15px 10px; margin-right:20px;">
                OnlineCampus
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav navbar-left">
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        학사정보 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropmenu_wrap_a" href="#">나의정보조회</a></li>
                        <li><a class="dropmenu_wrap_a" href="#">수강이력조회</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        수업정보 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropmenu_wrap_b" href="/Course_findAll">강의목록</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a th:href="@{/Member_logout}"><i class="fa-solid fa-right-from-bracket mr-2"></i>&nbsp;&nbsp;로그아웃</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
