<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="lecture/MemberCommon :: header(title='OnlineCampus')"></th:block>
    <link rel="stylesheet" th:href="@{/css/memberupdate.css}"/>
</head>
<body>
<div th:replace="lecture/MemberCommon :: navbar"></div>

<section class="info_content">
    <h2 class="headline"><i class="fa-solid fa-id-card"></i> 개인정보수정</h2>
    <form action="" method="post" id="" name="memberupdate" class="info_form">
        <input type="hidden" id="id" value="${loggedInMember.email}">
        <table class="infodate">
            <tr>
                <th>아이디</th>
                <td class="center_td"><span class="input_area"><input type="text" maxlength="13" name="userId" th:value="${loggedInMember.username}" readonly></span></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td class="pwd_td"><button id="pwdUpdateBtn" class="pwdupdatebtn" type="button">비밀번호 변경</button></td>
            </tr>
            <tr>
                <th>이름</th>
                <td class="center_td">
                  <span class="input_area">
                    <input type="text" maxlength="5" name="userName" th:value="${loggedInMember.nameKor}">
                  </span>
                </td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td class="center_td">
                  <span class="input_area">
<!--                    <input type="email" name="email" th:value="" >-->
                  </span>
                </td>
            </tr>
            <tr>
                <th>성별</th>
                <td class="center_td">
                  <span class="input_area">
                    <input th:if="${loggedInMember.genderCodeDTO != null}" type="text" name="text" th:value="${loggedInMember.genderCodeDTO.name}" readonly>
                  </span>
                </td>
            </tr>
            <tr>
                <th>이메일</th>
                <td class="center_td">
                  <span class="input_area">
                    <input type="email" name="email" th:value="${loggedInMember.email}" >
                  </span>
                </td>
            </tr>
            <tr>
                <th>사진</th>
                <td class="center_td">
                  <span class="input_area">
                    <input type="file" name="profileImage" value="" readonly>
                  </span>
                </td>
            </tr>
        </table>
        <button id="btn-update" class="infoupdate_btn">정보수정완료</button>
    </form>
</section>

<div th:replace="lecture/MemberCommon :: footer"></div>
</body>
</html>