    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>회원가입</h2>
    <form action="/Member_signup" method="Post" enctype="multipart/form-data">
        회원구분: <select name="memberDivision.code">
                    <option value="M001">관리자</option>
                    <option value="M002">강사회원</option>
                    <option value="M003">일반회원</option>
                 </select><br>
        이름: <input type="text" name="nameKor"><br>
        아이디: <input type="text" name="username"><br>
        비밀번호: <input type="password" name="password"><br>
        생일: <input type="date" name="birthDate"><br>
        성별: <select name="genderCodeDTO.code">
                <option value="G001">남자</option>
                <option value="G002">여자</option>
             </select><br>
        이메일: <input type="email" name="email"><br>
        프로필사진: <input type="file" name="profileImage"><br>
        <input type="submit" value="가입">
    </form>
</body>
</html>