<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/1cfe6d92db.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../css/memberupdate.css"/>
    <title>나의정보조회</title>
</head>
<body>
<!--  HEADER  -->
<nav class="navbar navbar-default navbar-fixed-top bg-dark">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/Member" style="padding: 15px 10px; margin-right:20px;">
        OnlineCampus
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav navbar-left">
        <li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            학사정보 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropmenu_wrap_a" href="javascript:void(0)">나의정보조회</a></li>
            <li><a class="dropmenu_wrap_a" href="#">수강이력조회</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            수업정보 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropmenu_wrap_b" href="/Course_findAll">강의목록</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation"><a th:href="@{/Member_logout}"><i class="fa-solid fa-right-from-bracket mr-2"></i>&nbsp;&nbsp;로그아웃</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="info_content">
  <h2 class="headline"><i class="fa-solid fa-id-card"></i> 개인정보수정</h2>
  <form action="" method="post" id="" name="memberupdate" class="info_form">
    <input type="hidden" id="id" value="${loggedInMember.email}">
    <table class="infodate">
      <tr>
        <th>아이디</th>
        <td class="center_td">
          <span class="input_area">
            <input type="text" maxlength="13" name="userId" th:value="${loggedInMember.username}" disabled/>
          </span>
        </td>
      </tr>
      <tr>
        <th>비밀번호</th>
        <td class="pwd_td">
          <button id="pwdUpdateBtn" class="pwdupdatebtn" type="button" data-toggle="modal" data-target="#passwordModal">
            비밀번호 변경
          </button>
        </td>
      </tr>
      <tr>
        <th>이름</th>
        <td class="center_td">
          <span class="input_area">
            <input type="text" maxlength="5" name="userName" th:value="${loggedInMember.nameKor}">
          </span>
        </td>
      </tr>
      <tr>
        <th>생년월일</th>
        <td class="center_td">
          <span class="input_area">
            <input type="date" name="birthDate" th:value="${loggedInMember.birthDate}" >
          </span>
        </td>
      </tr>
      <tr>
        <th>성별</th>
        <td class="center_td">
          <span class="input_area">
            <input type="text" name="genderCode" th:value="${loggedInMember.genderCode.name}" disabled><!--th:value="${loggedInMember.genderCode.name}"-->
          </span>
        </td>
      </tr>
      <tr>
        <th>이메일</th>
        <td class="center_td">
          <span class="input_area">
            <input type="email" name="email" th:value="${loggedInMember.email}" >
          </span>
        </td>
      </tr>
      <tr>
        <th>사진</th>
        <td class="center_td">
          <span class="input_area">
            <input type="file" name="profileImage" th:value="${loggedInMember.pictureFile}" readonly>
          </span>
        </td>
      </tr>
    </table>
    <button id="btn-update" class="infoupdate_btn">정보수정완료</button>
  </form>
</section>
<!-- 비밀번호 변경 모달 -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="passwordModalLabel">비밀번호 변경</h4>
      </div>
      <div class="modal-body">
        <form id="passwordChangeForm" method="post" action="/changePassword">
          <div class="form-group mb-4 box">
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="현재 비밀번호" required>
            <!--<label for="currentPassword"></label>-->
          </div>
          <div class="form-group mb-4 box">
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="새로운 비밀번호" required>
            <!--<label for="newPassword"></label>-->
            <i class="fa fa-eye fa-lg"></i>
          </div>
          <div class="form-group mb-4 box">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="새로운 비밀번호 확인" required>
            <!--<label for="confirmPassword"></label>-->
            <i class="fa fa-eye fa-lg"></i>
          </div>
          <button type="submit" class="update_pwdbtn">비밀번호 변경</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script>
  $(document).ready(function(){
    $('.form-group i').on('click',function(){
      $('input').toggleClass('active');
      if($('input').hasClass('active')){
        $(this).attr('class',"fa fa-eye-slash fa-lg")
                .prev('input').attr('type',"text");
      }else{
        $(this).attr('class',"fa fa-eye fa-lg")
                .prev('input').attr('type','password');
      }
    });
  });
</script>
</body>
</html>