body, html {
    /*background-color: #1d243d;*/
    padding: 0;
    margin: 0;
}

a.homebtn{
    color:#333;
}
a.homebtn:hover {
    color:#6610f2;
}

.login_bg{
    width:100%;
    height:950px;
    background-image: url('../img/student.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    opacity: 0.9;
}

.login_bg::before {
    content: ""; background-color:#000; opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container{
    /*margin: 0;*/
    top: 70px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    /*background-color: rgb( 33, 41, 66 );*/
    border-radius: 9px;
/*    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8BD17C;*/
    width: 380px;
    height: min-content;
    box-shadow: 0 3px 18px 3px rgb(0,0,0,0.4);
}
.login_wrap{/*width:100%;*/ display: flex; justify-content: center; align-content: center;}
.login_formbox{width:400px; background-color:#fff; padding:30px; border-radius: 5px; /*border:1px solid #999;*/ /*box-shadow: 0 3px 6px rgba(0,0,0,0.2);*/}
.login_formbox a{text-decoration: none;}
.h5.fw-bold {padding-bottom: 20px;}


.box input[type = "text"],.box input[type = "password"],.box input[type = "email"] {
    display: block;
    margin: 20px auto;
    background: #ededed;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: #333;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

}
::-webkit-input-placeholder {
    color: #565f79;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus {
    border: 1px solid #79A6FE;
}
.box label{color: #565f79;}
.btn1 {
    border:0;
    background: #333;/*#7f5feb;*/
    color: #dfdeee;
/*    border-radius: 100px;*/
    width: 340px;
    height: 49px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.btn1:hover {
    background: #5d33e6;
}

div.wds{display: flex; justify-content: space-around;}
.wds input[type = "date"]{width:85%}
.wds input[type = "file"]{width:70%;}
.wds select[name="memberDivisionDTO.code"]{width:76%;}
.wds select[name="genderCodeDTO.code"]{width:85%;}

[type=checkbox]:checked + span:before {/* <-- style its checked state */
    font-family: FontAwesome, serif;
    font-size: 16px;
    content: "\f00c";
    position: absolute;
    top: -4px;
    color: #896cec;
    left: -1px;
    width: 13px;
}

.typcn {
    position: absolute;
    left: 290px;
    top: 40px;
    color: #3b476b;
    font-size: 22px;
    cursor: pointer;
}

.typcn.active {
    color: #7f60eb;
}