body, html {
    /*background-color: #1d243d;*/
    padding: 0;
    margin: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container{
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    /*background-color: rgb( 33, 41, 66 );*/
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8BD17C;
    width: 400px;
    height: 600px;
    box-shadow: 0 3px 18px 3px rgb(0,0,0,0.1);
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "email"] {
    display: block;
    margin: 20px auto;
    background: #ededed;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: none;
    color: #333;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

}
::-webkit-input-placeholder {
    color: #565f79;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus {
    border: 1px solid #79A6FE;
}
.box label{color: #565f79;}
.btn1 {
    border:0;
    background: #7f5feb;
    color: #dfdeee;
    border-radius: 100px;
    width: 340px;
    height: 49px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.btn1:hover {
    background: #5d33e6;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state */
    font-family: FontAwesome, serif;
    font-size: 16px;
    content: "\f00c";
    position: absolute;
    top: -4px;
    color: #896cec;
    left: -1px;
    width: 13px;
}

.typcn {
    position: absolute;
    left: 290px;
    top: 40px;
    color: #3b476b;
    font-size: 22px;
    cursor: pointer;
}

.typcn.active {
    color: #7f60eb;
}